<section class="long-featured">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="p-4">
          <h2>The Impact of Technology on the Workplace</h2>
          <p>Technology is rapidly changing the way we work. From the way we communicate to the way we manage our tasks, technology is having a profound impact on the workplace. In this article, we will explore how technology is changing the workplace and what the implications are for businesses and employees.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

