<footer class="footer-blog">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Blog Tech...</p>
      </div>
      <div class="col text-right"> <p><a href="#">Back to top</a></p>
        <ul class="social-links">  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

