 <div class="wrapper">
  <div class="nav-right">
    <span>Login</span>
  </div>
</div>
<div class="wrapper2">
  <div class="nav-left">
    <span>Tags</span>
  </div>
</div>

<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="/">Blog Tech</a>
  </div>
</nav>

