 <div class="wrapper">
  <div class="nav-right">
    <span><%=render'layouts/account_links'%></span>
  </div>
</div>
<div class="wrapper2">
  <div class="nav-left">
    <span><%=link_to"Tags",tags_path if policy(:tag).index? %></span>
  </div>
</div>

<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="/">Blog Tech</a>
  </div>
</nav>

